@font-face {
  font-family: "pixeboy";
  src: url("../public/assets/font/Pixeboy.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #333;
  color: #fff;
}

.moment {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 16px;
}
.moment img {
  margin-left: 10px;
}

.warning-info a {
  font-size: 22px;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.warning-info .buttons {
  align-items: center;
}

.warning-info a:hover {
  opacity: 0.7;
}

.annoucers-wrapper h2 {
  margin-bottom: 30px;
  font-family: "pixeboy", sans-serif;
}

.announcers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 70px;
  justify-content: flex-start;
  width: 100%;
  gap: 24px;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.announcer {
  /* width: 24%; */
  flex-grow: 1;
  padding: 24px;
  background: #121313;
  display: flex;
  flex-direction: column;
}

.opacity-none {
  opacity: 0;
  height: 0px;
}

.opacity-none img {
  display: none;
}

.announcer p {
  width: 100% !important;
  padding-top: 0;
  margin-top: 0 !important;
  max-width: 100% !important;
}

.announcer img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.announcer-socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.announcer-socials a {
  border: 2px solid #ffffff;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcer h3 {
  margin-top: 40px;
  font-size: 40px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "pixeboy", sans-serif;
}

.warning {
  background: white;
  color: black;
  padding: 70px;
  position: relative;
}

.warning-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.warning h3 {
  font-size: 50px;
  font-family: "pixeboy", sans-serif;
  color: #f22525;
}

.bold {
  font-weight: 700;
}

.warning .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.warning-info .text {
  display: flex;
  flex-direction: column;
  max-width: 879px;
  margin-top: 20px;
}

.warning-info .buttons {
  margin-top: 30px;
}

.warning-info .buttons button {
  background: black;
  color: white;
  border: none;
  padding: 15px 30px;
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
}

.warning-info .buttons button.inverted {
  background: white;
  color: black;
  border: 1px solid black;
}

.warning-info .buttons button.inverted:hover {
  background: black;
  color: white;
}

.warning-info .buttons button.inverted span {
  filter: invert(0);
}

.warning-info .buttons button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.warning-info .buttons button.inverted:hover span {
  filter: invert(1);
}

.warning-info .buttons button:hover span {
  filter: invert(0);
}

.warning-info .buttons span {
  margin-right: 12px;
  position: relative;
  top: 2px;
}

.warning-info .buttons button span {
  filter: invert(1);
}

.warning-info p,
.warning-info span {
  font-size: 20px;
}
.warning-info span {
  margin-top: 30px;
}

.warning img {
  max-width: 30px;
  max-height: 30px;
}

.cheeky-mobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.desktop-images {
  max-width: 400px;
}

.revision-footer {
  display: flex;
  gap: 0px;
  width: 100%;
}

.cheeky-mobile ul {
  list-style: none;
  width: 15%;
}

.cheeky-mobile {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.signup form {
  background-color: black;
  width: 100%;
  color: white;
  padding-bottom: 60px;
  border-bottom: 1px solid white;
}
.signup input {
  max-width: 363px;
  padding: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.signup .contact-info {
  width: 33%;
}

.signup .contact-info.message-margin {
  width: 66%;
}

.signup .contact-button button {
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}

.signup .contact-button button:hover {
  color: #f2cb00;
  border: 1px solid #f2cb00;
}

.signup label {
  margin-bottom: 10px;
}

.signup h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

.cheeky-socials .contact {
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.cheeky-socials .contact:hover {
  opacity: 0.7;
}

.cheeky-mobile .fight-card-matchup-socials a {
  width: 34px;
  height: 34px;
  max-width: 34px;
  max-height: 34px;
  min-width: 34px;
  min-height: 34px;
}

.cheeky-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cheeky-socials .fight-card-matchup-socials {
  margin-top: 0;
  gap: 18px;
}

.cheeky-socials .fight-card-matchup-socials a:hover {
  opacity: 0.7;
}

.cheeky-socials .fight-card-matchup-socials a {
  transition: all 0.3s ease-in-out;
}

.cheeky-mobile li {
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.cheeky-mobile li:hover {
  opacity: 0.7;
}

form .contact-info {
  width: 50%;
}

.flex-form {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.contact-info textarea {
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  height: 167px;
  border: none;
  resize: none;
  border-style: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-label:first-child {
  margin-bottom: 30px;
}

.contact-form-wrapper label {
  margin-bottom: 12px;
}

.contact-form-wrapper input {
  max-width: 328px;
  font-size: 16px;
  height: 55px;
  padding: 8px;
  font-family: inherit;
  border-style: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.contact-button {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black !important;
  font-family: inherit;
}

.contact-button button {
  padding: 8px 16px;
  font-size: 18px;
  margin-top: 30px;
  box-shadow: none;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  color: black;
}

.contact-button button:hover {
  opacity: 0.7;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.contact-form {
  background-color: gainsboro;
  color: black;
  padding: 90px 0;
}

.contact-form-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.contact-form-wrapper h3 {
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: "pixeboy", sans-serif;
}

.covid {
  margin-top: 70px;
}

.sponsorships-info {
  display: flex;
  justify-content: space-between;
  gap: 190px;
  align-items: flex-end;
}

.sponsorships-info ul {
  font-size: 14px;
  list-style-position: inside;
  max-width: 448px;
  border-bottom: 1px solid white;
  padding-bottom: 40px;
}

.sponsorships-info li {
  margin-bottom: 10px;
}

.sponsorships h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sponsorships h4 {
  font-size: 35px;
  line-height: 23px;
  color: #f2c94c;
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 500px;
  line-height: 28px;
  font-family: "pixeboy", sans-serif;
}

.sponsorships-border {
  margin-bottom: 100px;
}

.sponsorships-info .media,
.sponsorships-info .event,
.sponsorships-info .other {
  width: 50%;
}

.sponsorships-info .event {
  margin-left: 100px;
}

.flex-it {
  flex-direction: row;
  display: flex;
  justify-content: space-between !important;
}

a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1600px;
}

.plus {
  margin-left: 8px;
}

.navigation ul,
.navigation-tickets,
.navigation-tickets-mobile {
  display: flex;
  padding-top: 30px;
  font-weight: 500;
  font-size: 18px;
  width: 50%;
}

.navigation ul li {
  list-style-type: none;
  margin-right: 55px;
}

.navigation ul li,
.navigation-tickets a,
.navigation-tickets-mobile a {
  color: white;
  transition: all 0.3s ease-in-out;
}

.navigation ul li:hover,
.navigation-tickets a:hover,
.navigation-tickets-mobile a:hover {
  color: #f2cb00;
  transition: all 0.3s ease-in-out;
}

.navigation ul {
  justify-content: flex-start;
}

.navigation-tickets,
.navigation-tickets-mobile {
  justify-content: flex-end;
}

.navigation-tickets button,
.overlay-tickets button,
.navigation-tickets-mobile button {
  margin-left: 55px;
  color: #f2cb00;
  box-shadow: none;
  background: none;
  border: 1px solid #f2cb00;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: -10px;
  transition: all 0.3s ease-in-out;
}

.navigation-tickets button:hover,
.overlay-tickets button:hover,
.navigation-tickets-mobile button:hover {
  color: #fff;
  /* filter: brightness(0) invert(1); */
  border: 1px solid #fff;
}

.navigation-tickets button:hover span,
.overlay-tickets button:hover span,
.navigation-tickets-mobile button:hover span {
  filter: brightness(0) invert(1);
}

.overlay-tickets button {
  font-weight: 500;
  font-size: 18px;
  margin-left: 0;
}

.navigation-tickets button span,
.overlay-tickets button span,
.navigation-tickets-mobile button span {
  margin-left: 22px;
  transition: all 0.3s ease-in-out;
}

.hero {
  width: 100%;
  max-width: 1600px;
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-sponsorships {
  width: 100%;
  max-width: 1600px;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero-sponsorships h1 {
  font-family: "Pixeboy";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 100%;
  text-align: center;
}

.hero-sponsorships p {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  width: 50%;
  /* or 114% */

  text-align: center;
}

.hero-sponsorships a {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.hero-sponsorships a:hover {
  opacity: 0.7;
}

.hero h1 {
  font-size: 100px;
  line-height: 68px;
  max-width: 548px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-family: "pixeboy", sans-serif;
}

.hero h2 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.hero .info {
  margin-bottom: 60px;
  text-align: center;
}

.hero .buttons,
.warning-info .buttons {
  display: flex;
}

.hero .buttons button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: #f2cb00;
  color: #000;
  padding: 10px 20px;
  width: 215px;
  border: 1px solid #f2cb00;
  transition: all 0.3s ease-in-out;
}

.hero .buttons button:hover {
  background: #000;
  color: #ffff;
  border: 1px solid #fff;
}

.hero .buttons button:hover span {
  filter: invert(1);
}

.hero .buttons button.inverted {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: none;
  color: #f2cb00;
  padding: 10px 20px;
  width: 215px;
  border: 1px solid #f2cb00;
  margin-left: 35px;
}

.hero .buttons button.inverted:hover {
  background: #000;
  color: #ffff;
  border: 1px solid #fff;
}

.hero .buttons button.inverted:hover span {
  filter: grayscale(1);
}

.hero .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 215px;
}

.hero .buttons button span {
  margin-right: 20px;
  padding-top: 4px;
  transition: all 0.3s ease-in-out;
}
.hamburger-react {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: 100% !important;
}

.dropdown button {
  min-width: 206px;
}

.menu li button {
  min-width: 206px;
}

.menu-item {
  margin-bottom: 20px;
  margin-right: 0 !important;
}
.navigation-tickets-mobile {
  display: none;
}

.matchups {
  padding: 70px;
}

.matchups h2 {
  font-size: 65px;
  font-family: "pixeboy", sans-serif;
}

.matchups p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 23px;
  width: 50%;
  margin-bottom: 60px;
}

.tags {
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  border-bottom: 1px solid white;
  padding-bottom: 30px;
  margin-bottom: 52px;
}

.tag {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  text-transform: capitalize;
  margin-right: 60px;
  border: 1px solid white;
  border-radius: 40px;
  height: 44px;
}

.tag span {
  background: black;
  height: 8px;
  width: 8px;
  display: flex;
  border-radius: 100%;
  margin-right: 8px;
  min-width: 8px;
  min-height: 8px;
}

.active {
  background: #ffffff;
  border-radius: 40px;
  color: black;
  font-weight: 700;
}

.tag p {
  width: 100%;
  margin: 0;
}

.filter,
.filter-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
}

.filter-mobile {
  display: none;
}

.filter p,
.filter-mobile p {
  margin: 0;
  margin-left: 10px;
}

.filter img,
.filter-mobile img {
  width: 13.33px;
  height: 12px;
}

.fight-card-matchup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #121313;
  margin-bottom: 65px;
  padding: 20px;
}

.fight-card-matchup span {
  font-size: 45px;
  padding-bottom: 3px;
  border-bottom: 9px solid #f2cb00;
  height: fit-content;
  font-family: "pixeboy", sans-serif;
}

.fight-card-matchup-fighter {
  display: flex;
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.middle {
  width: 100%;
}

.fight-card-matchup-fighter-info h3 {
  line-height: 30px;
  color: #2f80ed;
  font-size: 38px;
  margin-bottom: 8px;
  line-height: 46px;
  width: 40%;
  word-break: break-word;
  font-family: "pixeboy", sans-serif;
}

.fight-card-matchup-fight-image {
  margin-right: 35px;
}

.reverse .fight-card-matchup-fight-image {
  margin-left: 35px;
  margin-right: 0;
}

.fight-card-matchup-fighter-info .reverse-h3 {
  line-height: 30px;
  color: #f22525;
  font-size: 38px;
  margin-bottom: 8px;
  text-align: right;
}

.fight-card-matchup-fighter-info,
.fight-card-matchup-fighter-bio,
.table-row {
  display: flex;
  justify-content: space-between;
}

.fight-card-matchup-fighter-bio p {
  margin: 0;
  width: 100%;
  max-width: 217px;
  font-size: 16px;
  display: flex;
  line-height: 23px;
  justify-content: flex-start;
  text-align: left;
}

.fight-card-matchup-fighter-bio .reverse-p {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.mobile-socials-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.mobile-socials-container a {
  border: 2px solid #ffffff;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fight-card-matchup-socials a {
  border: 2px solid #ffffff;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.desktop-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.desktop-footer-socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.desktop-footer-socials a {
  margin-bottom: 20px;
}

.desktop-images img {
  margin-right: 70px;
}

.fight-card-matchup-socials {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
}

.table-row {
  border-bottom: 1px solid #828282;
}

.table-row p {
  margin-bottom: 0;
  padding-bottom: 16px;
  font-size: 16px;
  margin-top: 12px;
}

.table-row.no-border {
  border-bottom: none;
}

.red {
  color: #f22525;
  font-size: 20px;
}

.blue {
  color: #2f80ed;
  font-size: 20px;
}

.table-row p:nth-child(2) {
  text-align: center;
}

.sponsorships p {
  max-width: 748px;
  margin-bottom: 60px;
}

.table-row p:last-child {
  text-align: right;
}

.mobile {
  display: none;
}

.faq .accordion-title {
  font-weight: 700;
  font-size: 20px;
}

.faq .accordion-content {
  font-size: 18px;
}

.faq .accordion-content p {
  margin-bottom: 10px;
}

.faq .accordion-content a {
  font-weight: 700;
  text-decoration: underline;
}

.faq .accordion-wrapper {
  border-bottom: 1px solid #828282;
  padding-bottom: 20px;
}

@media (max-width: 1400px) {
  .fight-card-matchup-fight-image img {
    max-width: 250px;
  }
  .fight-card-matchup-fighter-info h3,
  .fight-card-matchup-fighter-info .reverse-h3 {
    font-size: 30px;
    line-height: 24px;
  }

  .fight-card-matchup-fighter-bio p {
    font-size: 15px;
    max-width: 170px;
    line-height: 18px;
  }

  .table-row p {
    margin-bottom: 0;
    padding-bottom: 12px;
    font-size: 12px;
    margin-top: 12px;
  }
}

.charity {
  background: gainsboro;
  color: black;
  padding-top: 70px;
  padding-bottom: 70px;
}

.charity-info {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  width: 90%;
}

.faq-bg,
.sponsorships-bg {
  background: #121313;
  padding: 70px 0;
}

.faq,
.sponsorships {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.faq h2,
.sponsorships h2 {
  font-size: 65px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.faq h2 {
  font-family: "pixeboy", sans-serif;
}

.sponsorships h2 {
  margin-bottom: 20px;
  font-family: "pixeboy", sans-serif;
}

.charity-logos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.charity-logos a {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: underline;
}

.charity-logos a p {
  margin-top: 16px;
}

.charity-info h3 {
  font-size: 64px;
  text-align: center;
  font-family: "pixeboy", sans-serif;
}

.charity-info p {
  font-size: 16px;
  max-width: 675px;
  text-align: center;
  margin: 0 auto;
  margin-top: 23px;
  padding-bottom: 33px;
}

.fight-card-matchup:last-child {
  margin-bottom: 0;
}

.footer {
  background: black;
}

.signup {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.form {
  display: flex;
  justify-content: flex-end;
}

.form .input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.form input {
  max-width: 350px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 48px;
  padding: 8px;
  color: black;
  border: 0.5px solid #000000;
  margin-bottom: 20px;
  font-size: 18px;
  margin-right: 20px;
  width: 100%;
  font-family: inherit;
}

.form button {
  width: 30%;
  height: 48px;
  max-width: 142px;
  cursor: pointer;
  border: 0.5px solid #000000;
  color: black;
  background: #ffffff;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
}

.form button:hover {
  opacity: 0.7;
}

.border {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.signup-info,
.signup-form {
  width: 48%;
}

.signup-form p {
  width: 100%;
  max-width: 400px;
  text-align: right;
  margin-right: 20px;
}

.signup-info h3 {
  margin-bottom: 16px;
  font-size: 35px;
}

.signup-info p {
  font-size: 20px;
  max-width: 390px;
}

.mobile-images {
  display: none;
}

@media (max-width: 1300px) {
  .signup form .flex-form {
    flex-direction: column;
  }

  .signup .contact-info {
    width: 100%;
    margin-bottom: 30px;
  }

  .signup form input {
    width: 100%;
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .signup .contact-button button {
    margin-top: 0;
  }

  .signup .contact-info.message-margin {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .navigation ul,
  .navigation-tickets {
    display: none;
  }

  .announcers {
    flex-wrap: wrap;
    gap: 20px;
  }

  .announcer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 48.5%;
  }

  .charity-logos {
    justify-content: center;
  }

  .fight-card-matchup-fight-image img {
    max-width: 200px;
  }

  .matchups {
    padding: 30px;
  }

  .matchups p {
    width: 100%;
    margin-bottom: 30px;
  }

  .table-row p {
    margin-bottom: 0;
    margin-top: 12px;
  }

  .middle p {
    margin-bottom: 0;
  }

  .matchups .tag p,
  .matchups .filter p {
    margin-bottom: 0;
  }

  .matchups h2 {
    font-size: 45px;
  }

  .navigation {
    margin-left: 50px;
  }

  .navigation-tickets-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .navigation-tickets-mobile button {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .navigation-tickets-mobile ul {
    list-style: none;
  }

  .navigation-tickets-mobile .menu li button {
    margin-bottom: 0;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .logo img {
    width: 80px;
  }

  .hamburger-react {
    display: inherit;
    z-index: 100;
  }

  .hero h1 {
    font-size: 45px;
    line-height: 39px;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .hero {
    top: 10px;
  }

  .hero h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .hero .buttons {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .hero .buttons button.inverted {
    margin-left: 0;
  }

  .hero .buttons button {
    margin-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .fight-cards {
    display: none;
  }

  .desktop-images img {
    margin-right: 0px;
  }

  .desktop-images {
    max-width: 100%;
  }

  .revision-footer {
    flex-direction: column;
    gap: 0;
  }

  .flex-form {
    flex-direction: column;
  }

  .tag {
    margin-right: 30px;
  }

  .matchups h2 {
    margin-top: 20px;
  }
  form {
    flex-direction: column;
  }

  .message-margin {
    margin-top: 30px;
  }

  form .contact-info {
    width: 100%;
  }

  .contact-form-wrapper input {
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .contact-form-wrapper {
    margin: 0 auto;
    width: 90%;
  }

  .sponsorships-bg {
    padding: 30px 0;
  }

  .sponsorships-border {
    margin-bottom: 50px;
  }

  .sponsorships-info .media,
  .sponsorships-info .event,
  .sponsorships-info .other {
    width: 100%;
  }

  .sponsorships-info {
    height: 300px;
  }

  .sponsorships h4 {
    font-size: 30px;
  }

  .sponsorships-info .event {
    margin-top: 30px;
  }

  .sponsorships-info ul {
    max-width: 100%;
  }

  .sponsorships-info {
    flex-direction: column;
    gap: inherit;
    height: inherit;
  }

  .faq h2,
  .sponsorships h2 {
    font-size: 35px;
  }

  .faq .accordion-title {
    font-size: 16px;
  }

  .faq .accordion-content p {
    font-size: 14px;
  }

  .mobile-images {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
  }

  .mobile-images img {
    height: 100%;
  }

  .border {
    flex-direction: column;
  }

  .border {
    border-top: 1px solid #fff;
    padding-top: 40px;
    border-bottom: none;
    padding-bottom: 0;
  }

  .signup-info,
  .signup-form {
    width: 100%;
  }

  .signup-info p {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .form input {
    max-width: 100%;
    margin-right: 0px;
    font-family: inherit;
    border-style: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .form button {
    margin-left: 10px;
  }

  .input-wrapper p {
    max-width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
  }

  .signup-info h3 {
    font-size: 30px;
  }

  .signup-info p,
  .form input {
    font-size: 14px;
    font-family: inherit;
  }

  .form button {
    font-size: 14px;
  }

  .charity-logos a {
    width: 100%;
  }

  .signup {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .charity {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .charity-info h3 {
    font-size: 45px;
  }

  .charity-logos a,
  .charity-info p {
    font-size: 16px;
  }

  .hero h2,
  .hero h1 {
    width: 100%;
  }

  .matchups {
    padding: 0;
  }

  .matchups h2,
  .matchups-info {
    padding-left: 30px;
    padding-right: 30px;
  }

  .filter-mobile {
    padding-left: 30px;
    width: 100%;
  }

  .filter-mobile p {
    padding-left: 0;
  }

  .tags {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
  }

  .reverse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    margin-left: 4px;
  }

  .fight-card-mobile-images {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .reverse .accordion-title {
    display: flex;
    justify-content: flex-end;
  }

  .fight-card-matchup-socials {
    justify-content: flex-start;
  }

  .fight-card-matchup-socials a {
    width: 34px;
    height: 34px;
    max-width: 34px;
    max-height: 34px;
    min-width: 34px;
    min-height: 34px;
  }

  .not-reverse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 4px;
  }

  .fight-card-matchup-socials img {
    max-width: 16px;
  }
  .fight-card-matchup-fighter-info h3 {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .fight-card-matchup-fighter-info p {
    width: 100%;
    max-width: 200px;
    margin-top: 0;
    padding-left: 0;
  }

  .reverse p {
    padding-right: 0;
  }

  .fight-card-mobile-images span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: 5px solid #f2cb00;
  }

  .mobile-vs {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: black;
    height: 61px;
    width: 61px;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pixeboy", sans-serif;
  }

  .fight-card-matchup {
    background-color: #000;
    padding: 24px;
  }

  .fight-card-mobile-images img {
    max-width: 100%;
    width: 100%;
  }

  .mobile {
    display: block;
  }

  .filter {
    min-width: 150px;
    display: none;
  }

  .filter-mobile {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .tags :nth-child(3) {
    /* min-width: 220px; */
    text-align: center;
  }

  .tags {
    overflow-x: scroll;
    border: none;
  }

  .fight-card-matchup {
    margin-bottom: 30px;
    padding: 20px;
  }

  .desktop-bottom {
    flex-direction: column;
  }

  .desktop-bottom .cheeky-socials {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .desktop-bottom .cheeky-socials .fight-card-matchup-socials {
    gap: 40px;
  }

  .desktop-bottom .cheeky-socials .fight-card-matchup-socials a {
    width: 34px;
    height: 34px;
    max-width: 34px;
    max-height: 34px;
    min-width: 34px;
    min-height: 34px;
  }

  .moment {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .fight-card-matchup-fighter-info p {
    font-size: 12px;
    max-width: 140px;
    padding: 0;
    margin-bottom: 12px;
  }

  .hero-sponsorships {
    top: 33%;
  }

  .hero-sponsorships h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .hero-sponsorships p {
    width: 100%;
    font-size: 18px;
  }

  .fight-card-matchup-fighter-info h3 {
    height: 44px;
    font-size: 26px !important;
  }

  .warning-info a {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .announcers {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .announcer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .announcer img {
    max-width: 300px;
  }

  .announcer p {
    text-align: center;
  }

  .warning .close {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }

  .warning {
    padding: 20px;
  }

  .warning h3 {
    font-size: 30px;
  }

  .warning-info .buttons {
    flex-direction: column;
  }

  .warning-info .buttons button {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .warning p,
  .warning span {
    font-size: 16px;
  }

  .charity-logos img {
    max-width: 200px;
  }

  .faq-bg {
    padding: 30px 0;
  }

  .covid {
    margin-top: 30px;
  }

  .fight-card-matchup-fighter-info h3 {
    font-size: 24px;
  }

  .accordion-content,
  .accordion-title {
    font-size: 12px;
  }

  .fight-card-matchup-socials a {
    width: 22px;
    height: 22px;
    max-width: 22px;
    max-height: 22px;
    min-width: 22px;
    min-height: 22px;
    padding: 4px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.accordion-title p {
  width: fit-content;
}

/* .accordion-title::after {
  content: "";
  width: 0;
  height: 0;
}

.accordion-title.open::after {
  content: "";
} */

.accordion-content {
  padding-top: 20px;
}
.accordion-wrapper {
  margin-bottom: 20px;
}

/* .accordion-content {
  padding: 1em 1.5em;
} */
