.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  /* min-height: 100vh; */
  height: 100vh;
  background: url("/assets/hero.png");
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  position: relative;
  max-height: 900px;
  min-height: 900px;
}

.mainOther {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  /* min-height: 100vh; */
  /* height: 100vh; */
  background: url("/assets/mobilehero-min.png");
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  position: relative;
  max-height: 336px;
  min-height: 336px;
}

.overlay {
  height: 100%;
  width: 100%;
  min-height: 100vh !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.93);
  overflow-x: hidden;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  height: 100%;
}

.overlayList {
  list-style: none;
}

.center {
  display: flex;
  margin-top: 20%;
  flex-direction: column;
}

.center li {
  color: white;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.center li:hover {
  color: #f2cb00;
}

.center ul {
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .main {
    min-height: 600px;
    max-height: 600px;
  }
}

@media (max-width: 768px) {
  .main {
    min-height: 100vh;
    max-height: 100vh;
  }

  .center ul {
    margin-bottom: -10px;
  }

  .center {
    margin-top: -2%;
  }

  .center li {
    margin-bottom: 15px;
  }

  .mainOther {
    max-height: 200px;
    min-height: 200px;
    background-position: center;
  }
}
